apiVersion: apps/v1
kind: Deployment
metadata:
  name: studentportfolio
  labels:
    app: studentportfolio
spec:
  replicas: 2
  revisionHistoryLimit: 2
  selector:
    matchLabels:
      app: studentportfolio
  template:
    metadata:
      labels:
        app: studentportfolio
    spec:
      imagePullSecrets:
        - name: ghcr-creds
      containers:
        - name: studentportfolio
          image: ghcr.io/nkalsi-academic-rrc/module_6_part3_main-studentportfolio:4aef4d8de314fe87cc1653735fc5c62f8b10f324
          imagePullPolicy: IfNotPresent
          ports:
            - name: http
              containerPort: 80
          readinessProbe:
            httpGet:
              path: /
              port: http
            initialDelaySeconds: 3
            periodSeconds: 5
          livenessProbe:
            httpGet:
              path: /
              port: http
            initialDelaySeconds: 20
            periodSeconds: 10
          resources:
            requests:
              cpu: "50m"
              memory: "64Mi"
            limits:
              cpu: "200m"
              memory: "256Mi"
